# Pandas part 1

In [1]:
import pandas as pd

student_data = dict(business= 25,AI=30, JS=30, JAVA=27)
student_data

{'business': 25, 'AI': 30, 'JS': 30, 'JAVA': 27}

In [3]:
series_program = pd.Series(data=student_data)
series_program

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [4]:
print(series_program)

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [7]:
series_program.iloc[0], series_program.iloc[-1]

(np.int64(25), np.int64(27))

In [8]:
series_program.keys()

Index(['business', 'AI', 'JS', 'JAVA'], dtype='object')

In [9]:
series_program["AI"]

np.int64(30)

In [10]:
print(series_program["AI"])

30

In [11]:
series_program["AI"] + 30

np.int64(60)

### Other series with list

In [12]:
import random as rnd

rnd.seed(42)

dice_list = [rnd.randint(1,6) for _ in range(5)] 
dice_list

[6, 1, 1, 6, 3]

In [13]:
dice_series = pd.Series(dice_list)
dice_series

0    6
1    1
2    1
3    6
4    3
dtype: int64

In [14]:
dice_series.min(), dice_series.max(), dice_series.mean()

(np.int64(1), np.int64(6), np.float64(3.4))

### Dataframe
- analog of 20 numpy with flexible row indices and col names

In [17]:
df_programs = pd.DataFrame(series_program, columns=("Num studensts",))
df_programs

          Num studensts
business             25
AI                   30
JS                   30
JAVA                 27

In [19]:
# Create 2 series objects using dict
student = pd.Series(dict(AI=25, NET=30, APP=30, JAVA=27))
language = pd.Series(dict(AI="Python", NET="c#", APP="Kotlin", JAVA="Java"))

student

AI      Python
NET         c#
APP     Kotlin
JAVA      Java
dtype: object

In [20]:
language

AI      Python
NET         c#
APP     Kotlin
JAVA      Java
dtype: object

In [21]:
df_programs=pd.DataFrame({"Students": student, "Language": language})
df_programs

      Students Language
AI          25   Python
NET         30       c#
APP         30   Kotlin
JAVA        27     Java

In [26]:
import numpy as np

pd.DataFrame(
    {
        "students": np.array((25, 30, 30, 27)),
        "language": ["Python", "c#", "Kotlin", "Java"]
    },
    index=["AI", ".NET", "APP", "Java"]
)

      students language
AI          25   Python
.NET        30       c#
APP         30   Kotlin
Java        27     Java

In [27]:
df_programs.index

Index(['AI', 'NET', 'APP', 'JAVA'], dtype='object')

## Data selection

In [28]:
df_programs["Students"]

AI      25
NET     30
APP     30
JAVA    27
Name: Students, dtype: int64

In [31]:
df_programs[["Language", "Students"]]

     Language  Students
AI     Python        25
NET        c#        30
APP    Kotlin        30
JAVA     Java        27

In [32]:
df_programs.Language

AI      Python
NET         c#
APP     Kotlin
JAVA      Java
Name: Language, dtype: object

In [34]:
df_programs["Language"]["NET"]

'c#'

## Indexers

In [36]:
df_programs.loc["JAVA"]

Students      27
Language    Java
Name: JAVA, dtype: object

In [37]:
df_programs.loc["AI"]

Students        25
Language    Python
Name: AI, dtype: object

In [39]:
df_programs.loc[["JAVA", "APP"]]

      Students Language
JAVA        27     Java
APP         30   Kotlin

In [40]:
try:
    df_programs[["JAVA", "APP"]]
except KeyError as err:
    print(err)

"None of [Index(['JAVA', 'APP'], dtype='object')] are in the [columns]"

In [41]:
df_programs.loc["AI": "APP"]

     Students Language
AI         25   Python
NET        30       c#
APP        30   Kotlin

In [43]:
df_programs.iloc[1:3]

     Students Language
NET        30       c#
APP        30   Kotlin

### Masking

In [44]:
df_programs["Students"] > 25

AI      False
NET      True
APP      True
JAVA     True
Name: Students, dtype: bool

In [45]:
df_programs[df_programs["Students"] > 25]

      Students Language
NET         30       c#
APP         30   Kotlin
JAVA        27     Java

In [46]:
df_programs.query("Students > 25")

      Students Language
NET         30       c#
APP         30   Kotlin
JAVA        27     Java