# Code along - python fundamentals 1

In [1]:
my_fruit = input()

print(f"i like to eat {my_fruit}")

i like to eat apple

In [2]:
age = int(input("ålder: "))

print(f"om 5 år är du {age + 5} år gammal")

om 5 år är du 29 år gammal

In [4]:
age = 33
loves_math = True
type(age), age
type(loves_math), loves_math

(bool, True)

In [5]:
print(f"{loves_math = }")

loves_math = True

## Collevtions
- list
- tuples
- sets
- dictionery

In [6]:
# List of one data type
intrests = ["badminton", "yoga", "math", "programing"]

# list of mixt data type
person = ["hampus", 24, True]

person

['hampus', 24, True]

In [7]:
intrests

['badminton', 'yoga', 'math', 'programing']

### Slicing

In [8]:
type(person), type(person[1])

(list, int)

In [9]:
intrests[1:3]

['yoga', 'math']

In [11]:
intrests[-1], intrests[::-1]

('programing', ['programing', 'math', 'yoga', 'badminton'])

In [12]:
person.append(intrests)
person

['hampus', 24, True, ['badminton', 'yoga', 'math', 'programing']]

In [15]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [16]:
persons_intrest = person[-1]
persons_intrest[-2]

'math'

In [22]:
# Pytonic -idomatic python
for intrests in persons_intrest:
    print(intrests)

#java:
# for (int i = 0 < persons_interst.length; 1++){
#   System.out.println(persons_interst[i])
# }

badminton
yoga
math
programing

In [27]:
# Not pythonic 
for i in range(len(persons_intrest)):
    print(i+1, intrests[i])

1 p
2 r
3 o
4 g

In [25]:
#pytonic
for i, intrests in enumerate(persons_intrest,1):
    print(i,intrests)

1 badminton
2 yoga
3 math
4 programing

### List creation
- append
- list comprehension

In [28]:
numbers = []
for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
# i % 2 (the condition) is truthy when i is odd, and falsey when i is even
odd_numberses_squres = [i**2 for i in numbers if i % 2]
odd_numberses_squres

[1, 9, 25, 49, 81]

## Dictionary
- Key: Value pairs

In [40]:
courses = {
    "python": 40,
    "agile": 15, 
    "sql": 30, 
    "data_platform": 40,
    "data_modeling": 30,}

In [42]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modeling'])

In [43]:
courses.values()

dict_values([40, 15, 30, 40, 30])

In [44]:
for cours in courses:
    print(cours, courses[cours])

python 40
agile 15
sql 30
data_platform 40
data_modeling 30

In [58]:
print(f"{'course':<20} points")
for cours, points in courses.items():
    print(f"{cours:<20}{points:<20}")

course               points
python              40
agile               15
sql                 30
data_platform       40
data_modeling       30

## Strings

In [50]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [57]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'